/node_modules
/public/hot
/public/storage
/public/storage/uploads
/public/storage/uploads/thumb
/public/storage/avatars
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
